* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  background: var(--secondary-color);
  color: var(--primary-color);
  width: 25%;
  min-width: 220px;
  max-width: 450px;
  height: 100vh;
  transition-property: width, min-width;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.sidebar-closed {
  width: 0px;
  min-width: 0px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 16px;
  border-bottom: 1px solid var(--primary-color);
}
.logo-placeholder {
  font-size: 1.3rem;
  font-weight: bold;
  /* letter-spacing: 1px; */
}
.toggle-btn {
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.toggle-btn-closed {
  background-color: var(--primary-color);
  transition: background-color 0s ease 0.2s;
}
.toggle-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.sidebar-menu {
  flex: 1;
  padding: 18px 14px;
}
.menu-element {
  list-style-type: none;
  margin-bottom: 20px;
}
.menu-element a {
  text-decoration: none;
  color: inherit;
}
.menu-element .link-text {
  padding-left: 5px;
  font-size: 1rem;
}